body{
    background-color:greenyellow;
    color: yellow;
    border: solid;
}
h1{
    color: red;
    text-decoration: underline;
}
img{
    color:purple;
    border: solid;
}
h4{
    color: mediumblue;
}
#Nextbutton{
    background-color: green;
    font-weight: bold;
    color: black;
    border-radius: 0px;
    margin-bottom: 10px;
}
#Backbutton{
    background-color: red;
    font-weight: bold;
    color: black;
    border-radius: 0px;
    margin-bottom: 10px;
}
.Explaining{
    color: orange;
    text-decoration: underline;
}